<footer>
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>

      </div>
    </div>
  <!-- <p class="footer--copyright">© Copyright 2015 Manuel Mendes</p>  -->
	<div align="center">
	<!-- Teste...1  -->
	<!-- ********   -->
	<!-- Start of StatCounter Code  -->
	<script type="text/javascript">
	var sc_project=10999418; 
	var sc_invisible=1; 
	var sc_security="7abd5ec8"; 
	var scJsHost = (("https:" == document.location.protocol) ?
	"https://secure." : "http://www.");
	document.write("<sc"+"ript type='text/javascript' src='" +
	scJsHost+
	"statcounter.com/counter/counter.js'></"+"script>");
	</script>
	<noscript><div class="statcounter"><a title="shopify site
	analytics" href="http://statcounter.com/shopify/"
	target="_blank"><img class="statcounter"
	src="//c.statcounter.com/10999418/0/7abd5ec8/1/"
	alt="shopify site analytics"></a></div></noscript>
	<!-- End of StatCounter Code for Default Guide -->
	<a href="http://statcounter.com/p10999418/?guest=1">View My
	Stats</a>
	<!-- End of StatCounter Code  -->
	<!-- ****  ****   -->
	</div>
		
</footer>


<!--Include Analytics, place your ID code on _config.yml file-->
